#The following line is essential.
.bash_history
.bash_logout
.bashrc
.cache
.compiz
.config
Desktop
.dmrc
Documents
Downloads
examples.desktop
.gconf
.gitconfig
.ICEauthority
.lesshst
.local
lxwTask
.mozilla
Music
PalindromicNumber.java
Pictures
.pip
.profile
Public
.ssh
Templates
test_cases
test.py
Videos
vim
.viminfo
.Xauthority
.xinputrc
.xsession-errors
.xsession-errors.old
