# snippets for making snippets :)
snippet snip
	snippet ${1:trigger}
		${2}
snippet msnip
	snippet ${1:trigger} ${2:description}
		${3}

#lxw0109
snippet docs
	#File: `Filename('$1.snippets')`
	#Author: lxw
	#Time: `system("date +%Y-%m-%d")`
